[submodule "ethdam-next"]
    path = ethdam-next
    url = https://github.com/tricodex/ethdam-next.git
[submodule "demo-starter-fork"]
	path = demo-starter-fork
	url = https://github.com/gieljoo/demo-starter-fork.git
